<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.hammerhead226.masterfrcscouter.android">

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="org.hammerhead226.masterfrcscouter.android.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.hammerhead226.masterfrcscouter.android.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="1ed35bd312c41111e97ba68eb810d5f712e60535" />

        <activity
            android:name="org.hammerhead226.masterfrcscouter.android.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="org.hammerhead226.masterfrcscouter.android.BreakTimeActivity"
            android:label="@string/title_activity_break_time" >
        </activity>
        <activity
            android:name="org.hammerhead226.masterfrcscouter.android.MatchScoutActivity"
            android:label="@string/title_activity_match_scout" >
        </activity>
        <activity
            android:name="org.hammerhead226.masterfrcscouter.android.PitScoutActivity"
            android:label="@string/title_activity_pit_scout" >
        </activity>
        <activity
            android:name="org.hammerhead226.masterfrcscouter.android.InfoActivity"
            android:label="@string/title_activity_info" >
        </activity>
        <activity
            android:name="org.hammerhead226.masterfrcscouter.android.TheBlueAllianceActivity"
            android:label="@string/title_activity_the_blue_alliance" >
        </activity>
        <activity
            android:name="org.hammerhead226.masterfrcscouter.android.ImportDataActivity"
            android:label="@string/title_activity_import_data" >
        </activity>
        <activity
            android:name="org.hammerhead226.masterfrcscouter.android.ExportDataActivity"
            android:label="@string/title_activity_export_data" >
        </activity>
        <activity
            android:name="org.hammerhead226.masterfrcscouter.android.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="org.hammerhead226.masterfrcscouter.android.TeleopMatchScoutActivity"
            android:label="@string/title_activity_teleop_match_scout" >
        </activity>
        <activity
            android:name="org.hammerhead226.masterfrcscouter.android.AutonMatchScoutActivity"
            android:label="@string/title_activity_auton_match_scout" >
        </activity>
    </application>

</manifest>
